# Copyright (C) 2026 Maxim [maxirmx] Samsonov (www.sw.consulting)
# All rights reserved.

root = true

[*.{cs,xaml}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
dotnet_diagnostic.CA1031.severity = none

[*.{xml,props,targets,csproj,wixproj,wxs,xaml,yml,yaml,json,md}]
indent_style = space
indent_size = 2
